<!doctype html>
<html>

{% include head.html %}

<body>
  <div id="header">
    <nav>
      <li class="fork"><a href="{{ site.url }}">⌂</a></li>
      <li class="fork"><a href="commands">Command List</a></li>
      <li class="fork"><a href="https://github.com/cahbots/ircahbot">GitHub</a></li>
      <li class="fork"><a href="irc">Join IRC Webchat</a></li>
      <li class="fork">
        <a href="#">Other CahBots</a>
        <ul class="sub-menu">
          <li><a href="https://cahbot.pro">CahBot Hub</a></li>
          <li><a href="https://ruby.cahbot.pro">CahBot Ruby</a></li>
          <li><a href="https://crystal.cahbot.pro">CB Crystal</a></li>
        </ul>
      </li>
    </nav>
  </div>
  <!-- end header -->

  <div class="wrapper">

    <section>
      <div id="title">
        <h1>{{ site.repotitle }}</h1>
        <p>{{ site.description }}</p>
        <hr>
        <span class="credits left">Project maintained by <a href="{{ site.authorurl }}">{{ site.author }}</a></span>
        <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
      </div>

      <h1 id="cahbot">{{ page.title }}</h1> {{ content }}

    </section>

  </div>

</body>

</html>
